/* reset default style */
body, h1 {
    margin: 0;
}

body {
    height: 100vh;
    background-color: #e1d0a5;
}

* {
    box-sizing: border-box;
}

main {
    height: 100%;
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'work-sans';
}

h1 {
    font-family: 'syne';
    font-weight: bold;
}

hr {
    border-top-width: 0;
    border-color: #b3b3b3;
}

fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

input[type=checkbox], input[type=radio] {
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.25);
}

/* margin class */
.my-24 {
    margin-top: 24px;
    margin-bottom: 24px;
}

.mb-16 {
    margin-bottom: 16px;
}

.m-separate-field {
    margin-top: 32px;
    margin-bottom: 16px;
}

.hidden {
    display: none;
}

.btn {
    background-color: #d2a6a8;
    color: #590004 ;
    text-align: center;
    padding: 16px 32px;
    border-radius: 50px;
    margin-top: 16px;
    cursor: pointer;
}

.btn-heavy {
    font-family: 'work-sans';
    font-weight: bold;
    font-size: 16px;
    color: white;
    display: block;
    margin: 0 auto;
    border-radius: 50px;
    padding: 16px 32px;
    background-color: #590004;
    border: none;
    transition: all 0.3s;
    cursor: pointer;
    text-decoration: none;
}

.submit-btn {
    font-family: 'work-sans';
    font-weight: bold;
    font-size: 16px;
    color: white;
    display: block;
    margin: 0 auto;
    border-radius: 50px;
    padding: 16px 32px;
    background-color: #a7a7a7;
    pointer-events: none;
    border: none;
    transition: all 0.3s;
}

.container-btn {
    display: flex;
}

.message {
    text-align: center;
    max-width: 475px;
    margin-top: 8px;
}

.fade-top-animation {
    animation: fadeTop 0.2s;
}

.error-msg {
    background-color: #b51e24;
    padding: 8px 40px 8px 8px;
    border-radius: 8px;
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 75px;
    color: white;
    max-width: 476px;
    transition: all 0.3s;
    white-space: nowrap;
}

.fa-mark {
    position: absolute;
    right: 7px;
    top: 6px;
    width: 24px;
    height: 24px;
    padding: 4px;
    border-radius: 24px;
    cursor: pointer;
    background-color: #590004;
    transition: background-color 0.3s;
}

.fa-mark:hover {
    background-color: #2e0204;
}

.form-container {
    position: relative;
    min-height: 835px;
    padding: 48px 96px;
    background-color: white;
    border-radius: 24px 24px 0 0;
    box-shadow: 6px 6px 10px 2px rgba(167, 138, 67, 0.65);
}

.add-img-container {
    padding: 32px 64px;
    height: 190px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #eed7d8;
}

.list-img-container {
    display: grid;
    height: 190px;
    grid-gap: 8px;
    max-width: 477px;
    padding: 0 16px;
    background-color: #eed7d8;
    grid-template-columns: repeat(auto-fit,minmax(25%, 1fr));
}

.list-img-container > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.single-img-container {
    height: 190px;
    max-width: 477px;
    background-color: #eed7d8;
    display: flex;
    justify-content: center;
}

/*
* If we have more than 38 images, display only text
*/
.text-img-container {
    justify-content: center;
    font-size: 24px;
    font-family: syne;
}

.single-img-container > img {
    height: 100%;
    width: 50%;
    object-fit: cover;
}

.label-field {
    display: block;
}

.input-field {
    font-family: 'work-sans';
    width: 100%;
    box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.10);
    border: none;
    padding: 8px;
}

.input-field:focus {
    outline: 2px solid #590004;
}

.checkbox-container {
    display: flex;
    column-gap: 24px;
}

.loader {
    border: 4px solid #F3F3F3;
    border-top: 4px solid #590004;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 1.5s cubic-bezier(.79,.14,.15,.86) infinite;
    margin: 0 auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes fadeTop {
    from { transform: translateY(8px); opacity: 0; }
    to { transform: translateY(0px); opacity: 1; }
}