/* reset default style */
body, h1 {
    margin: 0;
}

body {
    height: 100vh;
    background-color: #e1d0a5;
}

main {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'work-sans';
}

h1 {
    font-family: 'syne';
    font-weight: bold;
}

hr {
    border-top-width: 0;
    border-color: #b3b3b3;
}

fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

/* margin class */
.my-24 {
    margin-top: 24px;
    margin-bottom: 24px;
}

.mb-16 {
    margin-bottom: 16px;
}

.m-separate-field {
    margin-top: 32px;
    margin-bottom: 16px;
}

.hidden {
    display: none;
}

.btn {
    background-color: #d2a6a8;
    color: #590004 ;
    text-align: center;
    padding: 16px 32px;
    border-radius: 50px;
    margin-top: 16px;
    cursor: pointer;
}

.submit-btn {
    font-family: 'work-sans';
    font-weight: bold;
    font-size: 16px;
    color: white;
    display: block;
    margin: 0 auto;
    border-radius: 50px;
    padding: 16px 32px;
    background-color: #a7a7a7;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s;
}

.form-container {
    padding: 64px 96px;
    background-color: white;
    border-radius: 24px 24px 0 0;
    box-shadow: 6px 6px 10px 2px rgba(167, 138, 67, 0.65);
}

.add-img-container {
    padding: 32px 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #eed7d8;
}

.label-field {
    display: block;
}

.input-field {
    font-family: 'work-sans';
    width: 100%;
    box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.10);
    border: none;
    padding: 8px;
}

.input-field:focus {
    outline: 2px solid #590004;
}

.checkbox-container {
    display: flex;
    column-gap: 24px;
}

input[type=checkbox] {
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.25);
}